{% extends "posts/base.html" %}

{% block content %}
{% for post in posts %}
<article class="content-section mb-4">
    <div class="d-flex">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"
            alt="{{ post.author }} avatar">

        <div class="ms-3 w-100">
            <div class="article-metadata">
                <a class="me-2 text-decoration-none" href="#">
                    {{ post.author }}
                </a>
                <small class="text-muted">
                    {{ post.date_posted|date:"F d, Y" }}
                </small>
            </div>

            <h2>
                <a class="article-title text-decoration-none" href="#">
                    {{ post.title }}
                </a>
            </h2>

            <p class="article-content">
                {{ post.content }}
            </p>
        </div>
    </div>
</article>
{% endfor %}
{% endblock content %}